
<h2><%= @project.title %></h2>

<p><%= @project.description %></p>

<nav>
  <ul>
    <li>
    <% if @project.demo %>
      <a href="<%= @project.live %>">
        <%= @project.live[11..-1] %>
      </a>
      <small>
        <br>Demo login info:<br>username "demo"<br>password "12341234"
      </small>
    <% else %>
      <a href="<%= @project.live %>">
        <%= @project.live[7..-2] %>
      </a>
    <% end %></li>

    <li><a href="<%= @project.github %>"><%= @project.github[8..-1] %></a></li>
  </ul>
</nav>