<section class="group center">
  <%= image_tag "profile.jpg" %>

  <h2><%= @project.title %></h2>

  <p><%= @project.description %></p>


  <nav>
    <ul> 
      <% if @project.demo %>
      <li>Live at
        <a href="<%= @project.live %>">
          <%= @project.live[11..-1] %>
        </a>
        <small>
          username "demo"<br>password "12341234"
        </small>
      </li>
      <% else %>
      <li style="margin-bottom:20px;">Live at
        <a href="<%= @project.live %>">
          <%= @project.live[7..-2] %>
        </a>
      </li>
      <% end %>

      <li class="right-clear">Check out the code at
        <a href="<%= @project.github %>"><%= @project.github[8..-1] %></a>
      </li>
    </ul>
  </nav>

  <footer class="center">
    <small>Contact me at
      <a href="mailto:ethancdickinson@gmail.com">
        ethancdickinson@gmail.com
      </a>
    </small>
  </footer>
</section>

<figure class="center">
  <% if @project.title == "Deev Games" %>
    <%= image_tag "deevgames_main.png" %>"
    <%= image_tag "deevgames_tank.png" %>"
    <%= image_tag "deevgames_game.png" %>"
  <% elsif @project.title == "Snake/Life" %>
  <% end %>
</figure>