<!DOCTYPE html>
<html>
<head>
  <title>Ethan Dickinson</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrap">
  <header class="group center">
    <h1><%= link_to "Ethan Dickinson", root_url %></h1>
    
    <nav class="group">
      <ul class="group">
        <li>Projects</li>
        <li><%= link_to "Deev Games", project_url(1) %></li>
        <li><%= link_to "Snake/Life", project_url(2) %></li>
      </ul>
    </nav>
  </header>
</div>
  <%= yield %>
</body>
</html>
